name: Build and Test

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2

      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4 # v4
        with:
          node-version-file: "package.json"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install node modules
        run: yarn install --frozen-lockfile

      - name: Run generate
        run: yarn generate

      - name: Format generated code
        run: yarn format

      - name: Run tests
        run: yarn test

      - name: Run lints
        run: yarn lint
  
      - name: Check for changes
        if: matrix.os == 'ubuntu-latest'
        id: verify-changed-files
        run: |
          changes=$(git status --porcelain)
          if [ -n "$changes" ]; then
            echo "Uncommitted changes found after build/script execution. Failing job."
            git status
            exit 1
          else
            echo "Working tree is clean. No uncommitted changes found."
            exit 0
          fi

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2

      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4 # v4
        with:
          node-version-file: "package.json"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install node modules
        run: yarn install --frozen-lockfile

      - name: Build Packages
        run: yarn build

      - name: Generate tarball artifact
        run: yarn build:tarball

      - name: Upload artifacts for release via getsentry/craft
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: |
            javascript/**/*.tgz
            python/**/*.whl
            model/**/*.tgz
          if-no-files-found: error
